@mixin bodymixin($mycolor: white) {
  body {
    width: 95%;
    color: $mycolor; //white; //to test if mediaq works
    margin: 0 auto 0 auto;
    height: 100%;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
    @content;
  }
}

html {
  box-sizing: border-box;

  background: linear-gradient(180deg, #042961 30%, #fe5858 90%);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
  //justify-content: center;
  font-size: 20px;
  height: 100%;
  overflow: hidden;

  @include bodymixin();

  img {
    width: 600px; //100%; //needs media q for mobile (especially landscape)
    height: auto;
    //object-fit: none;
    //border: 3px solid white;
  }

  button {
    margin: 4px;
  }
  div {
    align-items: center;
    //border: 1px solid #ccc; //debugging
    max-width: 100%;
  }
  .container1 {
    //border: 3px solid #ccc; //debugging
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-height: 800px) {
  /*  body {
    width: 95%;
    color: white; //to test if mediaq works
    margin: 0 auto 0 auto;
    height: 100%;
    overflow: hidden; */

  @include bodymixin();
  .container1 {
    img {
      width: 400px; //needs media q for mobile (especially landscape), not working - why?
      height: auto;
    }
  }
}

@media screen and (max-height: 500px) {
  /* body {
    color: red; //to test if mediaq works
    //display: grid;
    width: 95%;
    margin: 0 auto 0 auto;
    height: 100%;
    overflow: hidden; */
  @include bodymixin();
  .button-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    //border: 1px solid; //debugging
    h1 {
      margin-top: 0px;
      padding-top: 0px;
    }
  }
  .output-container {
    display: flex;
    .container1 {
      /* grid-column: 1 / span 1;
      grid-row: 2 / span 1; */
      //border: 1px solid;
      //padding-right: 100%;
      margin: 0 auto 0 auto;
      img {
        width: 250px; //needs media q for mobile (especially landscape), not working - why?
        height: auto;
      }
    }

    .textout-container {
      /* grid-column: 2 / span 1;            //not working ideally, better use flex?
        grid-row: 2 / span 1; */
      //border: 1px solid;
      margin: 0 auto 0 auto;
    }
  }
}

//add linear 'sunset'gradient from top, place cartoon container at bottom: 0 (or rather slightly above)
